* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.form {
  max-width: 25rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  justify-content: space-between;
  margin: 0.25em 0;
}

.selectinput {
  display: block !important; /* oh god, here we go... */
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.flex-list > li {
  list-style-type: none;
}

.card {
  padding: 1em;
  margin: 1rem;
  background-color: #aaa;
  border-radius: 1em;
}

.card > a {
  text-decoration: none;
}

.card > a:hover {
  text-decoration: underline;
}

.wrapper {
  margin: 2rem;
}

.tags {
  margin-top: 0.5em;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.tag {
  margin: 0 0.5em;
  padding: 0.5em;
  border-radius: 1em;
  list-style: none;
  font-size: 0.75em;
  background-color: #666;
}

nav > a {
  margin: 0 1rem;
}
